/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  // max-width: $max-content-width;
  max-width: 800px !important;
  margin: 0 auto !important;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

.post.about-page ul {
  margin-top: 2rem;
  margin-left: 0;
  padding-left: 1rem;
  margin: 0;
}

.post.about-page li p {
  padding: 0.3rem;
  margin: 0;
}
// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
